# /*
#  * Copyright (c) 2026
#  *
#  * Hochschule Offenburg, University of Applied Sciences
#  * Institute for reliable Embedded Systems
#  * and Communications Electronic (ivESK)
#  *
#  * This file is licensed as described in the "LICENSE" file
#  * included within the root folder of this work.
#  */

python-can==4.5.0